﻿@model WebForm.Models.ResponseModel
@*
    Очень важная вещь без неё не работаю хелперы
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Форма заполнения</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

    <div class="container">
        <div class="col">
            <div class="card">
                <div class="card-header"> Заполнить Форму </div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="FormInput" method="post">

                        <div asp-validation-summary="All"></div>

                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Ваше Имя:</label>
                            <div class="col-sm-10">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-2 col-form-label">Ваш Email:</label>
                            <div class="col-sm-10">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Phone" class="col-sm-2 col-form-label">Ваш Телефон:</label>
                            <div class="col-sm-10">
                                <input asp-for="Phone" type="text" class="form-control" placeholder="Phone" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="WillAttend" class="col-sm-2 col-form-label">Хотите посетить мероприятие?</label>
                            <div class="col-sm-10">
                                <select class="form-control" asp-for="WillAttend">
                                    <option value="">Выбрать пункт</option>
                                    <option value="true">Да, я приду</option>
                                    <option value="false">Нет, я не могу</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
