﻿@model WebForm.Models.ResponseModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Форма заполнения</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="text-center">
        <h1>
            Благодарим за Ответ,<small class="text-muted">@Model.Name</small> !
        </h1>
        <p>
            @if (Model.WillAttend == true)
            {
                @: Будем ждать вас
            }
            else
            {
                @: Очень жалко =(
            }

        </p>

        <a class="btn btn-primary" asp-action="FormInput">Вернуться</a>

</body>

</html>
